{% extends 'base.html' %}

{% block content %}
    <center><h3>{{ title }}</h3></center>
    <hr>
    <h4>Список пользователей</h4>
    <hr>
    <center>
        Навигация по страницам:<br>
        {% if current_page > 1 %}
            <a href="{{ url_for('index') }}?page={{ current_page - 1 }}">Пред. </a> 
        {% endif %}
        {% for page in pages %}
            {% if current_page == page %}
                {{ page }}
            {% else %}
                <a href="{{ url_for('index') }}?page={{ page }}"> {{ page }}</a>
            {% endif %}
            
        {% endfor %}
        {% if current_page < pages|length %}
            <a href="{{ url_for('index') }}?page={{ current_page + 1 }}">След. </a> 
        {% endif %}
    </center>
    <br><br>
    
    {% for user in users %}
    {{ (current_page-1)*TOTAL_ON_PAGE + loop.index }}
        <img src="{{ user.photo.path_resized }}"><p>{{ user.surname }} {{ user.first_name }} {{ user.last_name }}</p>
        <hr>
    {% endfor %}
{% endblock content %}